@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen:100,200,300,400,500,600,700&display=swap');

/*---------------------------------------------------------Colors*/

body {
  background: #808080;
}

.ui-menu-color-home {
    background-color: #696969;
    box-shadow:  5px 5px 10px #2a2a2a;
}

.ui-menu-color-catalogue {
    background-color: rgba(39, 65, 92, 0.4);
    box-shadow:  5px 5px 10px #2a2a2a;
}

.ui-menu-color-contact {
    background-color: #bca834;
    box-shadow:  5px 5px 10px #2a2a2a;
}

.ui-menu-color-get-involved {
    background-color: rgba(193, 105, 219, 0.4);
    box-shadow:  5px 5px 10px #2a2a2a;
}

/*---------------------------------------------------------heading*/

header {
    margin: 0;
    padding: 0;
    border:0;
    overflow: hidden;
}

.waste-not {
    margin: auto;
    width: 50%;
    padding-top: 30px;
}

#logo {
    font-family: "Courgette", sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #fafafa;
    margin-bottom: 20px;
}

@media screen and (max-width:1800px) {
    #logo {
        width:65%;
        text-align: center;
        margin: 0 auto;
}

#hero-image {
    min-height: 300px;
    min-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---------------------------------------------------------Navigation*/

.menucontainer {
    font-size: 0;
}

#nav-bar li {
    font-size: 18px;
    padding: 0;
    font-weight: 500;
}

#nav-bar span:hover {
    text-decoration: underline;
    margin: 0 auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.active span{
    text-decoration: underline;
    margin: 0 auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.list-inline-item {
    margin-top: 0;
}

.list-inline-item:not(:last-child) {
    margin-right: 0px;
    padding-left: 20px;
}

.box {
    height: 100px;
    text-align: center;
    padding: 0;
    border-radius: 50px;
}

.box a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 100px;
}

.box a i {
    padding: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.box span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*---------------------------------------------------------Search bar from external amended to suit purpose*/
    
.cntr {
    display:table;
    width:100%;
    height:100%;
    margin-top: 30px;
}
.cntr-innr {
        display:table-cell;
        text-align:center;
        vertical-align:middle;
        color: #ffffff;
}

.cntr p {
    color: #fafafa;
    font-family: "Courgette", sans-serif;
    margin-top: 30px;
}

.search {
	display: inline-block;
	position: relative;
	height: 35px;
	width: 35px;
	box-sizing: border-box;
	margin: 0px 8px 7px 0px;
	padding: 7px 9px 0px 9px;
	border: 3px solid #ffffff;
	border-radius: 25px;
	transition: all 200ms ease;
	cursor: text;
}
	
.search:after {
		content: "";
		position: absolute;
		width: 3px;
		height: 20px;
		right: -5px;
		top: 21px;
		background: #ffffff;
		border-radius: 3px;
		transform: rotate(-45deg);
		transition: all 200ms ease;
}
	
.search:active,
.search:hover {
		width: 200px;
		margin-right: 0px;
}
		
.search:after {
	height: 0px;	
}

input {
		width: 100%;
		border: none;
		box-sizing: border-box;
		font-family: "Inconsolata", sans-serif;
		font-size: 15px;
		color: inherit;
		background: transparent;
		outline-width: 0px;
	}

/*---------------------------------------------------------Form*/

.form-section {
    clear: both;
    background: #fafafa;
    height: 910px;
    max-width: 900px;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.text-input {
  color: #0a0a0a;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 2px solid #151515;
  border-radius: 2px;
}

/*---------------------------------------------------------Footer*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #A9A9A9;
}

/*---------------------------------------------------------Catalogue*/

#photos {
    clear: both;
    column-count: 3;
    padding: 0 4px;
    float: none;
}

#photos img {
    width: 100%;
}

/*--------------------------------------------------------- Image flip for Catalogue page, taken from W3 Schools and amended for purpose*/

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 700px;
  perspective: 1000px;
  overflow: hidden;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 400px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #808080;
  color: white;
  transform: rotateY(180deg);
}

.flip-box-back h3 {
    text-align: center;
    font-family: "Sen", sans-serif;
    font-size: 50px;
}

.flip-box-back p {
    text-align: center;
    font-family: "Sen", sans-serif;
    font-size: 50px;
}

/*---------------------------------------------------------Media Queries for Catalogue responsivness*/

@media screen and (max-width: 1396px) {

.flip-box {
    height: 520px;
}

.flip-box-front {
    height: 250px;
}

.flip-box-back {
    height: 200px;
}

.flip-box-inner {
    height: 200px;
}
}

@media screen and (max-width: 970px) {

.flip-box {
    height: 420px;
}

.flip-box-front {
    height: 100px;
}

.flip-box-back {
    height: 100px;
}

.flip-box-inner {
    height: 100px;
}
}

@media screen and (max-width: 740px) {

.flip-box {
    height: 290px;
}

.flip-box-front {
    height: 100px;
}

.flip-box-back {
    height: 100px;
}

.flip-box-inner {
    height: 100px;
}
}

@media screen and (max-width: 505px) {
    #photos {
        column-count: 1;
        max-width: 100%;
    }

.flip-box {
    height: 500px;
}

.flip-box-front {
    height: 100px;
}

.flip-box-back {
    height: 100px;
}

.flip-box-inner {
    height: 100px;
}

.flip-box-back h2, p {
    font-size: 25px;
}
}

/*---------------------------------------------------------Contact*/

#split {
    clear: both;
    height: 50%;
    position: absolute;
    overflow-x: hidden;
}

.centered {
    left: 50%;
    text-align: center;
    padding-top: 20px;
}

.centered img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.centered p {
    font-family: "Sen", sans-serif;
    font-size: 40px;
}

.centered h2 {
    font-family: "Sen", sans-serif;
    font-size: 45px;
    text-decoration: underline;
    font-weight: 400;
}

/*---------------------------------------------------------Js script from extenal however amended to suit purpose*/

.open-button {
  background-color: #555;
  color: #fafafa;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 200px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: black;
  color: #fafafa;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}