@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700&display=swap');

/*---------------------------------------heading*/

header {
    margin: 0;
    padding: 0;
    border:0;
}

.logo {
    background-position: left;
    margin-top: 10px;
}

.heading {

}

.logo {
    font-family: "Courgette", sans-serif;
    font-weight: 600;
    font-size: 48px;
}

#hero-image {
    height: 300px;
    width: 100%;
    background-size: contain;
    background: url("/assets/background/country.jpg") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }